<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @artist.first %>
</p>

<p>
  <strong>Middle:</strong>
  <%= @artist.middle %>
</p>

<p>
  <strong>Last:</strong>
  <%= @artist.last %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>


<%= render 'shared/list_songs' %>
